.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;

  background-color: rgba($color-black, 0.6);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition: opacity $modal-transition-settings,
    transform $modal-transition-settings,
    visibility $modal-transition-settings;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 40px 28px;

    @include viewport--sm {
      padding: 40px 8px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    max-width: 1200px;
    width: 100%;
    padding: 24px;

    background-color: $color-white;
    border-radius: 8px;

    @include viewport--sm {
      width: 100%;
      padding: 20px;
    }
  }

  &__close-btn {
    position: absolute;
    display: block;
    top: 14px;
    right: 14px;
    width: 28px;
    height: 28px;
    padding: 2px;
    color: $color-gray-300;
    background-color: transparent;
    border-radius: 4px;
    outline: none;
    transition:
      color $default-transition-settings,
      background-color $default-transition-settings;

    svg {
      display: block;
    }

    &:hover,
    &:focus {
      color: $color-gray-750;
      background-color: $color-gray-040;
    }

    &:active {
      background-color: $color-gray-100;
    }
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include viewport--sm {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    display: none;
  }

  &--active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}
