.modal-flat {
  display: flex;
  align-items: flex-start;

  @include viewport--md {
    flex-direction: column;
  }
}

.modal-flat__wrapper {
  flex-grow: 1;
  display: flex;

  @include viewport--sm {
    flex-direction: column;
  }
}

.modal-flat__scheme {
  flex-shrink: 0;

  @include viewport--sm {
    margin-left: 43px;
  }
}

.modal-flat__info {
  flex-grow: 1;
  padding-left: 32px;
  padding-right: 10px;

  @include viewport--sm {
    padding: 0;
    padding-top: 16px;
  }
}

.modal-flat__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;

  @include viewport--sm {
    margin-bottom: 16px;
  }
}

.modal-flat__details {
  display: flex;
  flex-wrap: wrap;
  max-width: 432px;
  margin: 0;
  margin-bottom: 6px;

  @include viewport--md {
    max-width: 288px;
  }
}

.modal-flat__detail {
  width: 144px;
  margin-bottom: 12px;
  padding-right: 24px;

  dt {
    font-size: 12px;
    line-height: 1.34;
    color: $color-gray-400;
  }

  dd {
    margin: 0;
    font-weight: 500;
    font-feature-settings: "liga" off;
  }

  @include viewport--sm {
    &:nth-of-type(even) {
      width: 120px;
      padding-right: 0;
    }
  }
}

.modal-flat__tags {
  display: flex;
  flex-wrap: wrap;
  margin: -4px -8px;
  padding: 0;
  list-style: none;

  @include viewport--sm {
    max-width: 280px;
  }
}

.modal-flat__tag {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 4px 8px;
  padding: 8px;
  padding-left: 12px;
  padding-right: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.34;
  background-color: $color-gray-040;
  border-radius: 16px;

  &--positive {
    color: $color-green-500;
    background-color: $color-green-020;
  }

  &--negative {
    color: $color-red-500;
    background-color: $color-red-020;
  }

  svg {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}

.modal-flat__offer {
  flex-shrink: 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  width: 308px;
  padding-left: 32px;
  padding-right: 8px;
  border-left: 1px solid $color-gray-050;

  p {
    margin: 0;
    margin-bottom: 2px;
    color: $color-gray-400;

    &:last-of-type {
      margin-bottom: 24px;
    }
  }

  time {
    color: $color-blue-500;
    font-feature-settings: "liga" off;
  }

  .modal-flat__price {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;
    font-feature-settings: "liga" off;
    color: $color-gray-750;
  }

  .modal-flat__discount {
    color: $color-red-500;
    font-feature-settings: "liga" off;
  }

  @include viewport--md {
    width: 100%;
    margin: 24px 8px 0;
    padding: 0;
    padding-top: 24px;
    border-left: none;
    border-top: 1px solid $color-gray-050;
  }
}

.modal-flat__offer-btn {
  margin-top: auto;
}
