// Colors

$color-white:                     #ffffff;

$color-gray-040:                  #f5f4f2;
$color-gray-050:                  #f0eeeb;
$color-gray-100:                  #e7e4de;
$color-gray-300:                  #b2b0ab;
$color-gray-400:                  #989691;
$color-gray-750:                  #383736;

$color-black:                     #000000;


$color-primary-500:               #fac62d;
$color-primary-700:               #f0b505;
$color-primary-800:               #e1ab08;

$color-green-020:                 #f2faf0;
$color-green-500:                 #64b851;

$color-red-020:                   #faf0f0;
$color-red-500:                   #eb4b51;

$color-blue-500:                  #2794db;

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
//---------------------------------

$font-family--roboto:               "Roboto", "Arial", sans-serif;

// Animation
//---------------------------------

$default-transition-settings:       0.3s ease;
$modal-transition-settings:         0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
//---------------------------------

$viewport--sm:                      320px;
$viewport--md:                      768px;
$viewport--lg:                      920px;
$viewport--xl:                      1440px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
